*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: deepskyblue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.wrapper {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50% 42% 60%;
    box-shadow: inset 15px 25px 20px rgba(0, 0, 0, 0.09),
                inset -5px -15px 13px rgba(255, 255, 255, 0.7);
}

.wrapper::before {
    position: absolute;
    content: "";
    background: rgba(255, 255, 255, 0.7);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: 70px;
    left: 60px;
}